.bgHeadStore {
    background-image: url(https://i.ibb.co/Y0HkJ2W/semparar-Prancheta-2-co-pia-8.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bgHeadOrders {
    background-image: url(https://i.ibb.co/KxnxcLp/orders.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bgHeadClients {
    background-image: url(https://i.ibb.co/cTB3kLn/semparar-Prancheta-2-co-pia-2-8.png);
    background-repeat: no-repeat;
    background-size: cover;
}